{% load crispy_forms_tags %}
{% load siseduc_extras %}
{% block conteudo %}
	<form method="POST" id="frm-cadastro" action="{% if form.instance.pk > 0 %} {% url 'agendapasseio:alterar-pergunta-frequente' form.instance.pk %} {% else %}  {% url 'agendapasseio:cadastrar-pergunta-frequente' %} {% endif %}">
		{% csrf_token %}
	    {{ form|crispy }}
		<div class="row">
			<div class="md-form-group col-md-12">
				{% if request.user|check_permission:'agendapasseio.add_perguntafrequente' %}
				<input type="submit" value="Salvar" class="btn btn-primary botao pull-right" data-acao-btn="salvar" data-redirect="{% url 'agendapasseio:listar-pergunta-frequente' %}">
				{% endif %}
			</div>
		</div>
		<br>
	</form>
	<script>

		$(".selectmultiple").select2()
		$(".select2-container").css('width', '100%')
		
		</script>
{% endblock %}
{% block scripts %}{% endblock %}