{% load crispy_forms_tags %}
{% load siseduc_extras %}
{% block conteudo %}
	<form method="POST" id="frm-cadastro" action="{% if form.instance.pk > 0 %} {% url 'agendapasseio:alterar-espaco' form.instance.pk local_id %} {% else %}  {% url 'agendapasseio:cadastrar-espaco' local_id %} {% endif %}">
		{% csrf_token %}
	    {% crispy form %}
		<br>
	</form>
	<script>

		$(".selectmultiple").select2()
		// $(".selectmultiple").select2().css('width', '100%')
		$(".select2-container").css('width', '100%')
		$('#id_espaco').change(function(){
			$('#dv-espaco-equipamento').html('')
			$('#dv-espaco-equipamento').load('/siseduc/agendapasseio/site/cadastrar/espaco/'+$('#id_espaco').val()+'/equipamento/',function(){
			})
		})
		$("#submit-id-submit").attr(
			"data-redirect",
			$("#submit-id-submit").attr("data-redirect")+'{{local_id}}')
	</script>
{% endblock %}
{% block scripts %}{% endblock %}