{% if not form %}
    <script>
        window.open('#{% url 'acc:listar-usuario' %}', '_self')
    </script>
{% endif %}

{% load crispy_forms_tags %}

{% block conteudo %}
    <div class="form">
        <div class="card">
            <div class="card-block">
                <form method="POST" id="frm-cadastro" action="{% if form.instance.pk > 0 %} {% url 'agendapasseio:alterar-usuario' form.instance.pk %} {% else %}  {% url 'cursos:cadastrar-usuario' %} {% endif %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group ">
                        <label>
                            Perfil* 
                        </label>
                        <select class="form-control select2" name="perfil[]" multiple required>
                            {% for perfil in perfil_lst %}
                                <option value="{{perfil.id}}" {% if perfil in perfil_usuario_lst %} selected {% endif %}>
                                    {{perfil.nome|upper}}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    {{ form|crispy }}
                    <div class="row">
                        <div class="md-form-group col-md-12">
                            <input type="submit" value="Salvar" class="btn btn-primary botao pull-right" data-acao-btn="salvar" data-redirect="{% url 'agendapasseio:listar-usuario' %}">
                        </div>
                    </div>
                    <br>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
</body>


<script>
$('#div_id_password1, #div_id_password2').remove()
$('#id_password2').attr('data-parsley-equalto','#id_password1')
$('.select2').select2()
$('.select2-container').css('width','100%')

function selecionarTodasEscolas(){
    id_escola = []
    $('#cbo-escola').find('option').each(function(k,v){
        id_escola.push($(v).val())
    })
    $('#cbo-escola').val(id_escola);
    $('#cbo-escola').trigger('change'); 
}

function limparEscola(){
    $('#cbo-escola').val(null).trigger('change');
}


</script>