{% load crispy_forms_tags %}
{% block conteudo %}
	<form method="POST" id="frm-cadastro" action="{% if form.instance.pk > 0 %} {% url 'agendapasseio:alterar-suporte' form.instance.pk %} {% else %}  {% url 'agendapasseio:cadastrar-suporte' %} {% endif %}">
		{% csrf_token %}
	    {{ form|crispy }}
		<div class="row">
			<div class="md-form-group col-md-12">
				<input type="submit" value="Salvar" class="btn btn-primary botao pull-right" data-acao-btn="salvar" data-redirect="{% url 'agendapasseio:listar-suporte' %}">
			</div>
		</div>
		<br>
	</form>
{% endblock %}
{% block scripts %}{% endblock %}