
{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">

	<title>CRUD Alunos Django</title>
	<meta content="" name="description">
	<meta content="" name="keywords">

	<!-- Favicons
	<link href="{% static 'siseduc/img/logo.png' %}" rel="icon">
	<link href="{% static 'siseduc/temas/arsha/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon"> -->

	<!-- Google Fonts -->
	<link
		href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i' %}"
		rel="stylesheet">

	<!-- Vendor CSS Files -->
	<!-- <link href="{% static 'siseduc/temas/arsha/assets/vendor/aos/aos.css' %}" rel="stylesheet">
	<link href="{% static 'siseduc/temas/arsha/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'siseduc/temas/arsha/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
	<link href="{% static 'siseduc/temas/arsha/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
	<link href="{% static 'siseduc/temas/arsha/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
	<link href="{% static 'siseduc/temas/arsha/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
	<link href="{% static 'siseduc/temas/arsha/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'siseduc/plugins/select2/dist/css/select2.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'siseduc/plugins/bootstrap-datepicker/datepicker3.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'siseduc/plugins/parsleyjs/dist/parsley.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'siseduc/plugins/sweetalert2/src/sweetalert2.min.css' %}" type="text/css" />
	<!-- Template Main CSS File -->
	<link href="{% static 'siseduc/temas/arsha/assets/css/style.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'siseduc/css/font-awesome/css/font-awesome.min.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'siseduc/plugins/toastr/toastr.min.css' %}" type="text/css" /> -->

</head>

<body>
<h1>EAE TESTE SOM 1, 2</h1>

</body>


</html>