{% block conteudo %}
    <a>
        <button type="button" class="btn btn-sm btn-success fa fa-file-o pull-right" id="cmd-novo" data-url-modal="{% url 'agendapasseio:cadastrar-espaco' local_id %}">
             Novo 
        </button>
    </a>
    <br>
    <br>
    {% csrf_token %}
    <table class="table table-bordered table-striped tabela-datatables" ui-jp="dataTable">
        <thead>
            <tr>
                <th>Nome</th>
                <th style="text-align: center;">Ativo</th>
                <th style="text-align: center;">Editar</th>
                <th style="text-align: center;">Equipamento</th>
                <th style="text-align: center;">Excluir</th>
            </tr>
        </thead>
        <tbody>

            {% for espaco in espaco_lst %}
                   <tr>
                       <td>{{ espaco.nome }}</td>
                       <td style="text-align: center;">{% if espaco.ativo %} Sim {% else %} Não {% endif %}</td>
                       <td align="center"><button type="button" class="btn btn-sm btn-warning fa fa-edit" data-url="{% url 'agendapasseio:alterar-espaco' espaco.pk local_id %}"></button></td>
                       <td align="center"><button type="button" class="btn btn-sm accent fa fa-microphone" data-url="{% url 'agendapasseio:listar-equipamento' espaco.id %}"></button></td>
                       <td align="center"><button type="button" class="btn btn-sm btn-danger fa fa-trash excluir" data-url="{% url 'agendapasseio:excluir-espaco' espaco.id %}"></button></td>
                   </tr>
            {% endfor %}
        
        </tbody>
    </table>
    
{% endblock %}

{% block scripts %}
{% endblock %}
