{% block conteudo %}
    <a>
        <button type="button" class="btn btn-sm btn-success fa fa-file-o pull-right" id="cmd-novo" data-url-modal="{% url 'agendapasseio:cadastrar-local' %}">
             Novo 
        </button>
    </a>
    <br>
    <br>
    {% csrf_token %}
    <table class="table table-bordered table-striped tabela-datatables" ui-jp="dataTable">
        <thead>
            <tr>
                <th>Nome</th>
                <th style="text-align: center;">Ativo</th>
                <th style="text-align: center;">Editar</th>
                <th style="text-align: center;">Espaço</th>
                <th style="text-align: center;">Excluir</th>
            </tr>
        </thead>
        <tbody>
            {% for local in local_lst %}
                   <tr>
                       <td>{{ local.nome }}</td>
                       <td style="text-align: center;">{% if local.ativo %} Sim {% else %} Não {% endif %}</td>
                       <td align="center"><button type="button" class="btn btn-sm btn-warning fa fa-edit" data-url="{% url 'agendapasseio:alterar-local' local.pk %}"></button></td>
                       <td align="center"><button type="button" class="btn btn-sm btn-primary fa fa-cubes" data-url="{% url 'agendapasseio:listar-espaco' local.id %}"></button></td>
                       <td align="center"><button type="button" class="btn btn-sm btn-danger fa fa-trash excluir" data-url="{% url 'agendapasseio:excluir-local' local.id %}"></button></td>
                   </tr>
            {% endfor %}
        
        </tbody>
    </table>
    
{% endblock %}

{% block scripts %}
{% endblock %}
