{% block conteudo %}
    <a>
        <button type="button" class="btn btn-sm btn-success fa fa-file-o pull-right" id="cmd-novo" data-url-modal="{% url 'agendapasseio:cadastrar-pergunta-frequente' %}">
             Novo 
        </button>
    </a>
    <br>
    <br>
    {% csrf_token %}
    <table class="table table-bordered table-striped tabela-datatables" ui-jp="dataTable">
        <thead>
            <tr>
                <th>Pergunta</th>
                <th>Resposta</th>
                <th style="text-align: center;">Ativo</th>
                <th style="text-align: center;">Editar</th>
                <th style="text-align: center;">Excluir</th>
            </tr>
        </thead>
        <tbody>
            {% for faq in faq_lst %}
                   <tr>
                       <td>{{ faq.pergunta }}</td>
                       <td>{{ faq.resposta }}</td>
                       <td>{% if faq.ativo %} Sim {% else %} Não {% endif %}</td>
                       <td align="center"><button type="button" class="btn btn-sm btn-warning fa fa-edit" data-url="{% url 'agendapasseio:alterar-pergunta-frequente' faq.pk %}"></button></td>
                       <td align="center"><button type="button" class="btn btn-sm btn-danger fa fa-trash excluir" data-url="{% url 'agendapasseio:excluir-pergunta-frequente' faq.id %}"></button></td>
                   </tr>
            {% endfor %}
        
        </tbody>
    </table>
    
{% endblock %}

{% block scripts %}
{% endblock %}
