{% load cursos_extras %}
<div class="form-group col-md-11">
    <input type="search" id="src-termo" name="termo" placeholder="Pesquise pelo Nome, E-mail ou CPF do usuário" class="form-control" value="{{request.GET.termo|default_if_none:""}}">
</div>
<div class="col-md-1">
    <button id="btn-pesquisar" type="button" class="btn btn-primary fa fa-search pull-right btn-pesquisar"></button>
</div>
<table class="table table-hover table-striped" width="100%">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>CPF</th>
            <!-- <th>Instituição</th> -->
            <th>Perfil</th>
            <th>Ativo</th>
            <th class="text-center">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuario_page %}
        <tr>
            <td>{{usuario.get_full_name|upper}}</td>
            <td>{{usuario.email|lower}}</td>
            <td>{{usuario.cpf}}</td>
            <td>
                {% for perfil in usuario.perfil_set.all %}
                    {% if 'agendapasseio_' in perfil.nome %}
                    <span class="label rounded success">{{perfil.nome|upper}}</span>
                    {% endif %}
                {% endfor %}
            </td>
            <td>{% if usuario.is_active %}SIM{% else %}NÃO{% endif %}</td>
            <td class="text-center">
                {% if request.user|usuario_pode:"usuario.change_usuario" %}
                <button type="button" data-url="{% url 'agendapasseio:alterar-usuario' usuario.id %}" class="btn btn-warning btn-sm waves-effect waves-light btn-editar">
                    <span class="fa fa-edit"></span>
                </button>
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6" class="text-center">
                <h3>
                    Nenhum registro encontrado
                </h3>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="6" class="text-center">
                <b class="pull-right">
                    total de registros {{usuario_page|length}}
                </b>
            </td>
        </tr>
    </tbody>
</table>
<nav class="text-center">
    <ul class="pagination">
    {% if paginacao.has_previous %}
            <li><a href="#{% url 'agendapasseio:listar-usuario' %}1">&laquo; Primeira</a></li>
            <li><a href="#{% url 'agendapasseio:listar-usuario' %}{{ paginacao.previous_page_number }}">Anterior</a></li>
    {% endif %}
    {% for i in paginacao.paginator.page_range %}
            {% if paginacao.number == i %}
                <li class="active"><a><span>{{ i }} <span class="sr-only">(current)</span></a></li>
            {% elif i > paginacao.number|add:'-5' and i < paginacao.number|add:'5' %}
                <li><a href="#{% url 'agendapasseio:listar-usuario' %}{{ i }}">{{ i }}</a></li>
            {% endif %}
    {% endfor %}
    {% if paginacao.has_next %}
        <li><a href="#{% url 'agendapasseio:listar-usuario' %}{{ paginacao.next_page_number }}">Próxima</a></li>
        
        <li><a href="#{% url 'agendapasseio:listar-usuario' %}{{ paginacao.paginator.num_pages }}">Última &raquo;</a></li>
    {% endif %}
    </ul>
</nav>    
<script>
$("#src-termo").on('keypress',function(e) {
    if(e.which == 13) {
        $('.btn-pesquisar').click();
    }
});

$('.btn-pesquisar').click(function(){
    $.get('/siseduc/agendapasseio/listar/usuario/?termo='+$('#src-termo').val(), 
        function(retorno){
        $('#conteudo').html(retorno);
    })
})
</script>